<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation=" 
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/task  
            http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<task:scheduler id="taskScheduler" pool-size="10"  />
	<task:scheduled-tasks scheduler="taskScheduler">
		<!--&lt;!&ndash;<task:scheduled ref="win007Keli" method="runNBA" fixed-delay="60000000" />&ndash;&gt;-->
		<!--<task:scheduled ref="win007JsoupFootball" method="run" fixed-delay="60000000" />-->
		<task:scheduled ref="win007JsoupBasketballball" method="run" fixed-delay="60000000" />
    </task:scheduled-tasks>
</beans>
